.art {
    color: #ffffff;
}

@media screen and (max-width: 1199px) {
    .art-link {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 1200px) {
    .art-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        padding: 1em;
    }

    .art-link {
        display: block;
        width: 20em;
        margin: 1em;
    }
}
/*
.art-link {
    display: block;
    text-decoration: none;
}

@media screen and (max-width: 1199px) {
    .art-link {
        margin: 0 auto 1em auto;
        width: 80%;
    }
}


@media screen and (min-width: 1200px) {
    .art-link {
        width: 20em;
    }
}


.art {
    display: block;
    width: 100%;
    height: auto;
    color: #ffffff;
}
*/
