.project-card {
    padding: 1vw;
    width: 50%;
}

@media screen and (min-width: 0px) {
    .project-card {
        padding: 1vw;
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .project-card {
        padding: 1vw;
        width: 30%;
    }
}