@font-face {
  font-family: RetroGaming;
  src: url(../public/fonts/RetroGaming/RetroGaming.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat.ttf);
}

body {
  background-color: #1f1324;
  font-weight: normal;
  color: #ffffff;
  font-family: Montserrat, monocode, sans-serif;
}

body, a {
  font-family: Montserrat, sans-serif;
}

p, code, li {
  font-family: Arial, sans-serif;
  margin-left: 1em;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

a, a:visited {
  color: #ff82ec;
  text-decoration: none;
  font-size: inherit;
}

a:hover {
  text-decoration: underline;
}

strong {
  color: #ff0090;
}

.border {
  border-style: solid;
  border-radius: 1em;
  border-width: 1px;
}

code {
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 1em;
}

.small-img {
  max-width: 15em;
}

.center-text {
  text-align: center;
}

@media screen and (min-width: 0px) {
  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4vw;
  }

  code {
    font-size: 3.5vw;
  }

  body {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 5vw;
  }
  
  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 3vw;
  }

  code {
    font-size: 2vw;
  }
  
  body {
    font-size: 2vw;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.5vw;
  }
  
  h2 {
    font-size: 2vw;
  }

  h3 {
    font-size: 1.5vw;
  }

  code {
    font-size: 1vw;
  }
  
  body {
    font-size: 1vw;
  }
}