/*
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(254, 214, 214);
  color: #a07082;
}
*/

@font-face {
  font-family: PixelifySans;
  src: url(../public/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

body {
  background-color: #000000;
  font-weight: 100;
  font-family: PixelifySans;
  color: #ffffff;
}

h1 {
  font-weight: 200;
  font-size: 2.5vw;
}

p {
  font-size: 1vw;
}

a {
  font-size: 1vw;
}

.important {
  color: #ff6fe7;
}

@media screen and (max-width: 900px) {
  p, a {
    font-size: 3vw;
  }
  
  h1 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 1500px) {
  p, a {
    font-size: 2vw;
  }
  
  h1 {
    font-size: 5vw;
  }
}