@font-face {
  font-family: PixelifySans;
  src: url(../public/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

body {
  background-color: #000000;
  font-weight: 100;
  font-family: PixelifySans;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-weight: 200;
  font-size: 2.5vw;
}

p {
  font-size: 1vw;
}

a {
  font-size: 1vw;
}

a:visited, a:hover, a:active {
  color: inherit;
}

strong {
  color: #ff6fe7;
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  p, a {
    font-size: 3vw;
  }
  
  h1 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 1500px) {
  p, a {
    font-size: 2vw;
  }
  
  h1 {
    font-size: 5vw;
  }
}